body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://www.hdwallpapers.in/download/dark_black_red_shapes_4k_hd_abstract-HD.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#listaFilmes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#listaFilmes img {
  margin: 8px;
  max-width: 260px;
  max-height: 220px;
  width: auto;
  height: auto;
}

#listaFilmes h3 {
  color: white;
  margin: 5px;
}

#listaFilmes button {
  display: flex;
  position: relative;
  left: 0px;
  top: 30px;
  border-radius: 100%;
  color: #ffffff;
  background: #da1e26;
  /* font-weight: bold; */
  padding: 6px 8px;
  font-size: 14px;
  cursor: pointer;
  border: 0;
  transition: 0.3s;
}

#listaFilmes button:hover {
  background-color: darkred;
}

.form-wrapper {
  margin: 0 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-wrapper input {
  margin: 0 auto;
  padding: 10px 15px;
}

.add-filme button {
  display: block-flex;
  flex-wrap: wrap;
  text-align: center;
  border: 0;
  color: #ffffff;
  background: #da1e26;
  font-weight: bold;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.add-filme button:hover {
  opacity: 0.8;
}

#mostra-esconde {
  display: block-flex;
  flex-wrap: wrap;
  text-align: center;
  border: 0;
  color: #ffffff;
  background: #da1e26;
  font-weight: bold;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}
